#!/bin/bash
#alias NICKNAME='COMMAND'

# color support
alias diff='colordiff' #requires colordiff package
alias dir='dir --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias grep='grep --color=auto'
alias ls='ls --color=auto'
alias vdir='vdir --color=auto'

# modified commands
alias df='df -h'
alias du='du -h'
alias free='free -h'
alias less='less -i'
alias mkdir='mkdir -pv'
alias ping='ping -c 3'

# shortcuts
alias ..='cd ..'
alias _="sudo"
alias be='bundle exec'
alias chrome='google-chrome'
alias db='dropbox'
alias dbp='dropbox puburl'
alias dua='\du -ha'
alias dus='\du -hs'
alias h='history'
alias jo='jobim'
alias ka='killall'
alias lns='ln -s'
alias make-dwm='pushd ~/Repos/dwm > /dev/null; sudo make install; popd > /dev/null'
alias ns='notify-send'
alias nsc='notify-send "Process Completed"'
alias ra='ranger'
alias rm-ds-stores='find . -name "*.DS_Store" -type f -delete'
alias to="todo.sh"
alias uu='udiskie-umount'
alias x='startx'
alias sc="sudo systemctl"

# new commands
alias du1='\du -h --max-depth=1 | sort -hr'
alias du1a='\du -ha --max-depth=1 | sort -hr'
alias du2='\du -h --max-depth=2'
alias du2a='\du -ha --max-depth=2'
alias du3='\du -h --max-depth=3'
alias du3a='\du -ha --max-depth=3'
alias grub-update='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias help='cat ~/.help'
alias lock='xscreensaver-command -lock'
alias lsmnt="mount | column -t"
alias openports='netstat --all --numeric --programs --inet --inet6'
alias pcp="rsync -hrP"
#alias pg='ps -Af | grep $1'         # requires an argument (note: /usr/bin/pg is installed by the util-linux package; maybe a different alias name should be used)
alias pig='ping google.com'
alias pmv="pcp --remove-source-files"
alias svn-ignore='svn propedit svn:ignore .'
alias xmerge='xrdb ~/.Xresources'

# zsh utility commands
alias source-zsh="source ~/.zshrc"
alias time-zsh="time zsh -ic exit"

# privileged access
if [ $UID -ne 0 ]; then
    alias sudo='sudo ' # passes aliases over to root when using sudo
    alias halt='sudo halt'
    #alias netcfg='sudo netcfg2'
    alias reboot='sudo reboot'
    alias root='sudo su'
    alias scat='sudo cat'
    alias svim='sudo vim'
    #alias update='sudo pacman -Su'
fi

# safety features
alias chgrp='chgrp'
alias chmod='chmod'
alias chown='chown'
alias cp='cp -i'
alias ln='ln -i'
alias mv='mv -i'

# programming languages
alias ja='java'
alias jca='javac *.java'
alias jrm='rm *.class'
alias py2='python2'
alias py='python3'
alias rb='ruby'

# git
alias g='git'
alias ga='git add'
alias gap='git add -p'
alias gb='git branch'
alias gc='git commit'
alias gca='git commit -a'
alias gct='git commit --allow-empty-message --message ""'
alias gch='git checkout'
alias gcl='git clone'
alias gd='git diff'
alias gdc='git diff --cached'
alias gg='git grep'
alias gh='git help'
alias gl='git pull'
alias glg='glgs --stat'
alias glgp='git log --graph --decorate --pretty=oneline --abbrev-commit --patch'
alias glgs='git log --graph --decorate --pretty=oneline --abbrev-commit'
alias gls='git ls-files'
alias gme='git merge'
alias gp='git push'
alias gr='git reset'
alias gre='git rebase'
alias gsh='git show'
alias gshw='git show --color-words'
alias gst='git status'
alias gsta='git stash'
alias gwd='git diff --color-words'

# vim
alias v='vim -p'
alias va='vim -p *'
alias vd='vim -d'
alias vh='vim -o'
alias vv='vim -O'

# feh
alias feh='feh --scale-down --auto-zoom'

# homesick
alias hs='homesick'

# ls
alias l='ls -alh'
alias la='ls -A'
alias ll='ls -lh'
alias lm='la | less'
alias lr='ls -R'                    # recursive ls
alias ls='ls -hFG'
alias lt='ll -rt'                   # sort by date
alias lx='ll -BX'                   # sort by extension
alias lz='ll -rS'                   # sort by size

# ls++
alias lap="ls++ -A"
alias lsp="ls++"

# pacman/packer
alias p='pacaur --noedit'
alias pf='p -Ss'
alias pin='p -S'
alias pup='p -Syu'

# global aliases
alias -g F='| grep'
alias -g L='| less -R'
alias -g LOL='| lolcat'

# personal (private) aliases
if [ -f ~/.aliases_personal ]; then
  . ~/.aliases_personal
fi

# functions
backup() {
  for file; do
    cp $file $file.bak
  done
}

prf() {
  pgrep $1 | xargs ps
}

restore() {
  for file; do
    mv $file.bak $file
  done
}

up() {
  for run in {1..$1}; do
    cd ..
  done
}

lh() {
  open http://localhost:${1-3000}
}

alias bu='bundle'
alias bup='bundle update'
alias dunnet='emacs -batch -l dunnet'
alias e='emacsclient -t'
alias gf='g flow'
alias jslint='jslint --terse'
alias lite='lite-server'
alias mix='alsamixer'
alias railsbp='rails_best_practices'
alias remove-rockets='sed -i "s/:\([a-zA-Z_]*\) =>/\1:/g" **/*.rb'
alias ritwifi='sudo netctl start wlan0-rit'
alias uzbl='uzbl-tabbed'
alias vcat='vimcat'
alias wifi='sudo wifi-menu wlan0'

alias d='diff'
alias mkd='mkdir'
alias rmd='rmdir'
alias wg='wget'

#chmod things
alias ch='chmod'
alias chf='chmod 777'
alias chx='chmod +x'
