[user]
	name = Nicky McCurdy
	email = nick@nickmccurdy.com
	signingkey = 2AD315D8

[apply]
	whitespace = warn

[color "status"]
	added = green
	changed = yellow
	untracked = red

[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	fsMonitor = true
	pager = delta
	attributesfile = /Users/nick/.gitattributes

[credential]
	helper = osxkeychain

[credential "https://github.com"]
	username = nickmccurdy
	helper = !/usr/local/bin/gh auth git-credential

[credential "https://gist.github.com"]
	username = nickmccurdy
	helper = !/usr/local/bin/gh auth git-credential

[credential "https://bitbucket.org"]
	username = nickmccurdy

[diff]
	tool = default-difftool
	renames = copies
	
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[delta]
	light = true

[grep]
	lineNumber = false
	extendedRegexp = true

[format]
	pretty = oneline

[interactive]
	singlekey = true

[log]
	abbrevCommit = true
	decorate = short

[merge]
	defaultToUpstream = true
	autoStash = true
  tool = code

[rebase]
	autoStash = true
	autosquash = true

[push]
	default = current
	followTags = true
	autoSetupRemote = true

[pull]
	rebase = false
	twohead = ort

[status]
	branch = true
	short = true

[include]
	path = ~/.gitconfig_local

[magit]
	hideCampaign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P

[clean]
	requireForce = false

[commit]
	status = false

[fetch]
	prune = true

[remote]
	pushDefault = origin

[init]
	defaultBranch = main

[branch]
	sort = -authordate

[checkout]
	defaultRemote = origin

[help]
	autoCorrect = prompt

[gc]
	cruftPacks = true

[am]
	threeWay = true

[rerere]
	enabled = 1
