# Linux files
!.gitignore
*~

# Tags (from etags and ctags)
TAGS
!TAGS/
tags
!tags/

# Vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Eclipse files
.classpath
.project

# Intellij files
.idea
*.iml
