# Linux files
*~

# Mac OS files
.DS_Store

# Vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# Eclipse files
.classpath
.project
.settings

# Intellij files
*.iml
*.ipr
*.iws
.idea/
*.eml
.idea

# Emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode files
.org-id-locations
*_archive

# Jobim files
jobim.log
jobim.pid
