[user]
  name = Nicolas McCurdy
  email = thenickperson@gmail.com

[alias]
  uncommit = reset --soft HEAD^
  wdiff = diff --color-words
  wshow = show --color-words

[apply]
  whitespace = warn

[color]
  ui = auto

[color "status"]
  added = green
  changed = yellow
  untracked = red

[core]
  autocrlf = input #set this to "input" on Mac/Linux and "true" on Windows
  excludesfile = ~/.gitignore

[credential]
  helper = cache --timeout=3600

[diff]
  renames = copies

[interactive]
  singlekey = true

[merge]
  tool = vimdiff

[push]
  default = simple

[status]
  branch = true
  short = true
