! UI
urxvt.iconFile:    /usr/share/icons/Faenza/apps/16/terminal.png
urxvt.scrollstyle: plain
urxvt.scrollBar: false
urxvt.visualBell:  true

! Extensions
urxvt.perl-ext-common: default,matcher,-option-popup,-selection-popup
urxvt.urlLauncher:     /usr/bin/google-chrome
urxvt.matcher.button:  1
urxvt.colorUL: #4682B4

! Fonts
urxvt.font:    xft:Tamsyn:size=10:antialias=false

! Theme
! Molokai theme
urxvt.background: #101010
urxvt.foreground: #d0d0d0
urxvt.cursorColor: #d0d0d0
urxvt.color0: #101010
urxvt.color1: #960050
urxvt.color2: #66aa11
urxvt.color3: #c47f2c
urxvt.color4: #30309b
urxvt.color5: #7e40a5
urxvt.color6: #3579a8
urxvt.color7: #9999aa
urxvt.color8: #303030
urxvt.color9: #ff0090
urxvt.color10: #80ff00
urxvt.color11: #ffba68
urxvt.color12: #5f5fee
urxvt.color13: #bb88dd
urxvt.color14: #4eb4fa
urxvt.color15: #d0d0d0
